<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
         <h3 align="center"> Регистрация пользователя   </h3>
    </head>

    <body>
       
       
        <div class="container mt-3">
        <form action="{% url 'show' %}" method="post">
            {% csrf_token %}

            <div  class="col-sm-6">
              <label for="exampleInputName" class="form-label">Имя</label>
              <input type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder = "Введите имя">
            </div>

            <div class="mb-3" class="col-sm-6">
              <label for="exampleInputLastname" class="form-label">Фамилия</label>
              <input type="text" name="lastname" class="form-control" id="exampleInputLastname" placeholder = "Введите фамилию">
              
            </div>

            <div class="mb-3" class="col-sm-6">
              <label for="exampleInputFamily" class="form-label">Возраст</label>
              <input type="age" name="age" class="form-control" id="exampleInputPassword1" placeholder = "Введите возраст от 16 до 100">
              
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder = "Введите email">
              <div style="color: red;" id="emailHelp" class="form-text">{{ error }}</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputFamily" class="form-label">Пол</label>
              <input type="text" name="gender" class="form-control" id="exampleInputPassword1" placeholder = "Укажите пол">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Подписаться на новости нашей компании</label>
            </div>

            <div class="mb-3">
              <label for="exampleInputFamily" class="form-label">Адрес</label>
              <input type="text" name="adress" class="form-control" id="exampleInputPassword1" placeholder = "Введите адресс доставки">
              <div style="color: red;" id="emailHelp" class="form-text">{{ error }}</div>
            </div>



            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Подписать на новости нашего интернет магазина</label>
            </div>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
          </form>
        </div>
    </body>
</html>