<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    </head>
<body>
    <div class text align="center">
    <h1> Регистрация прошла успешно!  </h1>
    <h5> Данные пользователя:  </h5>
        <p> {{name}}  </p>
        <p> {{lastname}}  </p>
        <p> {{age}}  </p>
        <p> {{email}}  </p>
        <p> {{gender}}  </p>
        <p> {{adress}}  </p>

    </div>

  
</body>
</html>


