<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>

<body>
    <div class text align="center">
    <h3> Полученные данные в файле cars.json  </h3>
    <h5> Данные пользователя:  </h5>
        <p> Марка: {{brand}}  </p>
        <p> Модель: {{model}}  </p>
        <p> Цена от: {{price_one}}  </p>
        <p> Цена до: {{price_two}}  </p>
        <p> Год от: {{year_one}}  </p>
        <p> Год до:{{year_two}}  </p>
        <p> Город:{{city}}  </p>

    </div>
</body>


