{% extends "base.html" %}

{% block content %}
    <h3 align="center" > Это страница рассказывает о правилах пользования приложением:   </h3>
    <br>
    <br>
    <p align="center"> Введите параметры автомобиля: марка, модель, цена от и до, год выпуска  </p>
    <p align="center">Затем нажмите кнопку "Начать поиск автомобиля"   </p>
    <p align="center"> Подождите пару минут и скачайте, появившейся файл в формате .scv"  </p>
    <p align="center"> Далее откройте файл, программой LibreOffice </p>
{% endblock content %}