{% extends "base.html" %}

{% block content %}
<div style= "background-image:
     url('https://images.wallpaperscraft.ru/image/single/porsche_gt3_rs_porsche_sportkar_172789_1024x768.jpg');
    background-size: cover; background-repeat:no-repeat">


        <br>
        <h3 align="center"  > Добро пожаловать в приложение AutoSelection !   </h3>
        <br>
        <br>
        <h4 align="center"  > Здесь можно найти автомобиль вашей мечты. </h4>
    <!--    <h4 align="center"  > Пользоваться приложением очень удобно и легко и сможет абсолютно каждый пользователь. </h4>-->
        <h4 align="center"  > Ниже представлены основные правила пользования приложением:  </h4>
        <br>
     <div class="container mt-3" style="width: 800px; height: 500px;" >
        <p align="center" style="font-size: 20px; text-align: left"> Введите параметры автомобиля: марка, модель, цена от и до, год выпуска  </p>
        <p align="center" style="font-size: 20px; text-align: left">Затем нажмите кнопку "Начать поиск автомобиля".   </p>
        <p align="center" style="font-size: 20px; text-align: left"> Подождите пару минут и скачайте, появившейся файл в формате .scv"  </p>
        <p align="center" style="font-size: 20px; text-align: left"> Далее откройте файл, программой LibreOffice или любой другой, читающей .csv </p>

{% endblock content %}
    </div>

</div>