{% extends "base.html" %}

{% block content %}
<body style= "background-image:
     url('https://images.wallpaperscraft.ru/image/single/doroga_gory_sneg_262841_1024x768.jpg');
    background-size: cover; background-repeat:no-repeat">

    <div class="features">
        <h1 style="color: wheat"> Новости на сайте </h1>
        {%if news %}
            {%for el in news %}
                <div class="alert alert-warning">
                    <h3> {{el.tittle}} </h3>
                    <p> {{el.anons}} </p>

                    <p> {{el.date}} </p>

                    <p> {{el.image}} </p>




                </div>
            {% endfor %}
        {% else %}
        <p> У вас нет записей   </p>
         {%endif%}

    </div>

<a href="{% url 'create' %}">   <button class="btn btn-primary"> Добавить статью </button> </a>


{% endblock content %}