{% extends "base.html" %}

{% block content %}




{% endblock content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Сылка</th>
      <th scope="col">Цена</th>
      <th scope="col">Описание</th>
      <th scope="col">Дата</th>

    </tr>
  </thead>
  <tbody>
    {% for car in {{cars}} %}
    <tr>
      <th scope="row">1</th>
      <td>{{car.name}}</td>
      <td>{{car.url}}</td>
      <td>{{car.price}}</td>
      <td>{{car.description}}</td>
      <td>{{car.date_car_par}}</td>

    </tr>

  </tbody>
</table>