.el1{
    color: violet;
    background-image: url(./images/car.jpg) ;
    background-repeat:no-repeat ;
    background-size:cover;
    opacity: 0.7 ;
}

.menu li a:hover{
    color: #198754 !important;
}
