.bg-image {
    color: violet;
    background-image: url('https://rusargument.ru/data/photo/062218_042624342427.jpg');
    background-repeat:no-repeat !important;
    background-size:cover;
    opacity: 0.5 !important;
}

.menu li a:hover{
    color: #198754 !important;
}
